 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Config Page</title>
</head>
<body>
 <h1>Admin Config Page</h1>
    <pre>{{ .ConfigData }}</pre>

    
</body>
</html> 


