<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice System</title>
</head>
<body>
    <h1>Welcome to Invoice System</h1>
    <button onclick="location.href='/create_invoice'">Create Invoice</button>
    <button onclick="location.href='/ln_pay'">Pay</button>
    <button onclick="location.href='/claim_invoice'">Check Claim</button>
    <button onclick="location.href='/create_invoice_pubkey_tweak'">Create Invoice For Pubkey Tweak</button>
    <button onclick="location.href='/claim_external'">Check Claim - External Tweak</button>

</body>
</html>
